@-webkit-keyframes show-forwards {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes show-forwards {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes show-backwards {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes show-backwards {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes hide-forwards {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes hide-forwards {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes hide-backwards {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes hide-backwards {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes nav-btn-animation {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes nav-btn-animation {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  overflow: hidden;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 1.5rem;
}

.logo--big {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

.link {
  color: #000;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.link--white {
  color: #fff;
}

.link--red {
  color: #df1818;
}

.link:hover {
  color: #df7523;
}

.ti {
  font-size: 2rem;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1em 1.5em;
  background-color: #fffaf7;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.137);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.137);
  z-index: 10;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.nav__desktop {
  display: none;
}

.nav__items {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  background-color: #fffaf7;
  z-index: 0;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}

.nav__items--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__items > li {
  margin: 1em;
}

.nav__button {
  background: none;
  border: none;
  cursor: pointer;
}

.nav__button--burger {
  color: #000;
  position: relative;
  z-index: 1;
}

.nav-btn-animation {
  -webkit-animation: nav-btn-animation 0.4s;
          animation: nav-btn-animation 0.4s;
}

.cart-icon {
  position: relative;
  z-index: -1;
}

.cart-icon::after {
  content: attr(data-content);
  position: absolute;
  bottom: 0;
  left: 1em;
  width: 1.4em;
  height: 1.4em;
  background-color: #df7523;
  color: #fff;
  font-size: 1rem;
  line-height: 1.2em;
  text-align: center;
  border-radius: 50%;
  z-index: 5;
}

.header-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: -5;
}

.header-img--first {
  background-image: url(../img/chair-small.jpg);
}

.header-img--second {
  background-image: url(../img/living-room-small.jpg);
  -webkit-transform: translatex(100%);
          transform: translatex(100%);
}

.header-img__shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(22, 21, 16, 0.623);
  z-index: -1;
}

.header-img__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  padding: 1em;
  color: #fffaf7;
  z-index: 1;
}

.header-img__text h1 {
  font-family: 'Dancing Script', cursive;
}

.header-img__text p:last-of-type {
  margin-top: 1em;
  font-size: 2rem;
  letter-spacing: 1px;
}

.header-img__text--main {
  color: #df7523;
}

.header-img__button {
  position: absolute;
  top: 50%;
  color: #fffaf7;
  background: none;
  border: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.2;
  cursor: pointer;
}

.header-img__button--left {
  left: 1em;
  padding: 2em 2em 2em 0;
}

.header-img__button--right {
  right: 1em;
  padding: 2em 0 2em 2em;
}

.header-img__container {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.bestsellers__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

.bestsellers__item {
  margin: 2em;
  max-width: 300px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  overflow: hidden;
}

.item__image-container {
  position: relative;
  top: 0;
}

.item__image {
  height: 12em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__heart {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 0.5em;
  border: none;
  background: none;
  z-index: 5;
  cursor: pointer;
}

.item__heart-img {
  height: 2.5em;
}

.item__heart-img--disabled {
  display: none;
}

.item__description-container {
  height: auto;
  text-align: center;
}

.item__title {
  font-size: 1.2rem;
  margin: 1em 1em 1.5em;
  height: 2.5rem;
}

.item__price {
  padding-bottom: 1.5em;
}

.item__price--old {
  margin-left: 0.5em;
  text-decoration: line-through;
  color: #808080;
  font-weight: normal;
}

.item__price--new {
  color: #df1818;
  font-weight: bold;
}

.item__btn {
  width: 100%;
  padding: 1em;
  background: none;
  border: none;
  background-color: #df7523;
  color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

.item__btn:hover {
  opacity: 0.8;
}

.section {
  padding: 3em 0.5em;
}

.section__heading {
  margin: 0.5em;
  font-size: 2rem;
  padding: 1em;
  text-align: center;
}

.about-us {
  background-color: #fdf3ec;
}

.about-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__item {
  padding: 1.5em;
  min-width: 240px;
  text-align: center;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.about-us__item:hover {
  color: #df7523;
}

.ti-packge-export,
.ti-truck-delivery,
.ti-rotate-clockwise {
  font-size: 3rem;
}

.ti-packge-export ~ p,
.ti-truck-delivery ~ p,
.ti-rotate-clockwise ~ p {
  margin-top: 1em;
}

.faq {
  background-color: #fff;
}

.faq__question-list {
  list-style-type: none;
}

.faq li {
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
  margin: 2em 1em;
  padding: 2em;
  cursor: pointer;
}

.faq__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
}

.faq button {
  background: none;
  border: none;
  color: #df7523;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
}

.faq .icon-rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.faq .active {
  margin: 1em 0;
}

.contact {
  background-color: #fdf3ec;
}

.contact__heading {
  margin: 2.5em 0 1em;
  font-size: 1.2rem;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1em 0;
}

.contact__item {
  margin: 1em;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

.contact input {
  -webkit-appearance: none;
  margin: 1em;
  padding: 0.5em 1.5em;
  border-radius: 0;
  border: none;
  background: none;
  border-bottom: solid 1px black;
}

.contact input:placeholder-shown {
  text-align: center;
}

.contact button {
  margin-top: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #df7523;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

.contact button:hover {
  opacity: 0.9;
}

.contact__confirmation-text {
  position: relative;
  top: 1em;
  margin-top: 0.5em;
  height: 1rem;
  color: #67ca67;
}

.ti-brand-facebook,
.ti-brand-instagram {
  padding: 0.3em;
}

.ti-phone,
.ti-mail {
  margin-right: 1em;
  font-size: 1rem;
}

.footer {
  padding: 1em 2em;
  background-color: #1d1d1d;
  color: #fffaf7;
  text-align: right;
}

.cart__empty {
  margin: 3em 0;
  text-align: center;
  font-size: 1.5rem;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
  padding: 3em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.cart__item-img {
  height: 8em;
  margin: 1em;
}

.cart__item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
  width: 100%;
}

.cart__item-details--left {
  margin-right: 1em;
}

.cart__item-details p {
  margin: 0.5em;
}

.cart__item-btn {
  border: none;
  height: 2em;
  width: 2em;
  color: #000;
  border-radius: 5px;
  background-color: #fdf3ec;
  cursor: pointer;
}

.cart__item-btn--disabled {
  background-color: #eee;
  opacity: 0.5;
  cursor: default;
}

.cart__amount {
  margin: 0 0.5em;
}

.cart__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cart__btn {
  margin: 1em;
  padding: 1em 2em;
  color: #000;
  background: none;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.cart__btn:hover {
  color: #df7523;
}

.cart__btn--cta {
  background-color: #df7523;
  color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.cart__btn--cta:hover {
  opacity: 0.9;
  color: #fff;
}

.cart__sum-text {
  text-align: right;
  padding: 1em;
  font-size: 1.4rem;
}

.cart__sum-text span {
  font-weight: bold;
}

.product {
  padding: 2em 1em;
}

.product__details {
  text-align: center;
}

.product__description {
  padding: 2em 0 3em;
}

.product__title {
  margin-bottom: 0.5em;
  font-size: 2rem;
}

.product__image {
  margin: 3em 0 1em;
  width: 100%;
}

.product__btn {
  margin-top: 2em;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #df7523;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.24);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

.product__btn:hover {
  opacity: 0.9;
}

.product__price {
  font-size: 1.3rem;
}

@media (max-width: 350px) {
  .item__image {
    height: 10em;
  }
}

@media (min-width: 768px) {
  .header-img__button {
    opacity: 0.7;
  }
  .header-img__button--left {
    padding-right: 10em;
  }
  .header-img__button--right {
    padding-left: 10em;
  }
  .header-img__text h1 {
    font-size: 2.5rem;
  }
  .header-img__text p {
    font-size: 1.5rem;
  }
  .header-img__text p:last-of-type {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  .ti-chevron-right,
  .ti-chevron-left {
    font-size: 4rem;
  }
  .bestsellers__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
  }
  .bestsellers__item {
    margin: 2.5em 1.5em;
    max-width: 350px;
  }
  .bestsellers .item__image {
    height: 13em;
  }
  .section {
    padding: 5em 1em;
  }
  .section__heading {
    padding-top: 0;
  }
  .about-us__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .faq__question-list {
    padding: 1em 2em 2em;
  }
  .contact__item {
    margin: 1.5em;
  }
  .cart__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cart__item h3 {
    width: 65%;
    margin-left: 2em;
  }
  .cart__item-img {
    height: auto;
    width: 15%;
  }
  .cart__item-details {
    padding: 0 2em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart__item-details P {
    margin: 1.5em;
  }
  .cart__btn-container {
    padding: 1em 2em;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .cart__sum-text {
    padding: 3em 2em 1em;
  }
  .product__container {
    padding: 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
  }
  .product__image {
    margin: 0;
  }
  .product__details {
    margin-left: 2em;
    width: 100%;
    text-align: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 992px) {
  .nav__container {
    padding: 0 1em;
  }
  .nav__desktop {
    display: block;
  }
  .nav__mobile {
    display: none;
  }
  .header-img--first {
    background-image: url(../img/chair-large.jpg);
  }
  .header-img--second {
    background-image: url(../img/living-room-large.jpg);
  }
  .header-img__text h1 {
    font-size: 3rem;
  }
  .bestsellers__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .faq__question-list {
    padding: 1em 4em;
  }
  .contact__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .contact__item {
    margin: 0 1em;
    padding: 1em;
    text-align: left;
  }
  .contact__item--logo {
    position: relative;
    top: 2.5em;
  }
  .contact form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .contact input {
    margin: 1em 0;
    padding: 1em 2em 0.5em 0;
  }
  .contact input:placeholder-shown {
    text-align: left;
  }
  .footer__text {
    margin-right: 3em;
  }
  .cart__item-details {
    width: 50%;
  }
  .product__details {
    margin-left: 4em;
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */