@keyframes show-forwards {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes show-backwards {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes hide-forwards {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes hide-backwards {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}
