@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
}

.logo {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 1.5rem;
}

.link {
	color: $link;
	text-decoration: none;
	transition: color 0.3s;
	cursor: pointer;
	&--white {
		color: $link-light;
	}
	&--red {
		color: $link-red;
	}
}

.link:hover {
	color: $link-hover;
}

.ti {
	font-size: 2rem;
}
.nav {
	position: sticky;
	top: 0;
	padding: 1em;
	&__container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		list-style-type: none;
	}
	&__desktop {
		display: none;
	}
	&__items {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		list-style-type: none;
		background-color: $nav;
		z-index: 0;
		transform: translateX(-110%);
		transition: transform 0.6s ease-in;
		&--active {
			transform: translateX(0);
		}
	}
	&__items > li {
		margin: 1em;
	}
	&__button {
		background: none;
		border: none;
		cursor: pointer;
		&--burger {
			position: relative;
			z-index: 1;
		}
	}
}

.section {
	padding: 1.5em;
	&__heading {
		margin: 0.5em;
		font-size: 2rem;
		padding: 1em;
		text-align: center;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__item {
		padding: 1.5em;
		min-width: 240px;
		text-align: center;
	}
}
.about-us {
	background-color: $aboutus;
	&__heading {
		margin-bottom: 1em;
		font-size: 1.2rem;
	}
}

.ti-packge-export,
.ti-truck-delivery,
.ti-rotate-clockwise {
	font-size: 3rem;
}

.ti-packge-export ~ p,
.ti-truck-delivery ~ p,
.ti-rotate-clockwise ~ p {
	margin-top: 1em;
}

.contact {
	background-color: $contact;
}

.ti-brand-facebook,
.ti-brand-instagram {
	padding: 0.3em;
}

.ti-phone,
.ti-mail {
	margin-right: 1em;
	font-size: 1rem;
}

.footer {
	padding: 1em 2em;
	background-color: $footer-bg;
	color: $textcolor-light;
	text-align: right;
}

@media (min-width: 768px) {
	.section {
		padding: 3em 1em;
		&__heading {
			padding-top: 0;
		}
		&__container {
			flex-direction: row;
			justify-content: space-evenly;
			align-items: flex-start;
		}
		&__item--left {
			text-align: left;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__desktop {
			display: block;
		}
		&__mobile {
			display: none;
		}
	}
}
